<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaio Antônio - Link in Bio</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="link-bio">
            <img src="../static/img/Background.png" alt="Icone do Kaio">
        <h1>Kaio Antônio</h1>
        <h2>Software Developer</h2>
        <a href="https://github.com/KaioAntonio">Github</a>
        <a href="https://www.linkedin.com/in/kaio-antonio/">Linkedin</a>
        <a href="http://kaio-antonio-portfolio.herokuapp.com">Portfólio</a>
    </div>
    
</body>
</html>